@font-face {
  font-family: 'PP Fragment Glare Light';
  src: url('https://cdn.shopify.com/s/files/1/0734/5176/5871/files/PPFragment-GlareLight.otf?v=1781813724') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0734/5176/5871/files/Akzidenz-GroteskRegular.otf?v=1781814278') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --heading-font-family: 'PP Fragment Glare Light', sans-serif;
  --heading-letter-spacing: -0.02em;
  --heading-text-transform: uppercase;
}

body {
  font-family: 'Akzidenz-Grotesk', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

:root {
  --button-font-family: 'Akzidenz-Grotesk', sans-serif;
}

button,
.button,
a.button,
input[type="submit"],
input[type="button"],
.btn {
  font-family: 'Akzidenz-Grotesk', sans-serif !important;
}

.heading, .h1, .h2, .h3, .h4, .h5, .h6,
.prose :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2 !important;
}
@font-face {
  font-family: 'PP Playground';
  src: url('https://cdn.shopify.com/s/files/1/0734/5176/5871/files/PPPlayground-Medium.ttf?v=1783550925') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.decorative-word {
  font-family: 'PP Playground', sans-serif;
  color: #C4282F;
  font-size: 1.3em;
}